In [12]:
import pandas as pd
df = pd.read_csv("Z:\ITSkills\students.csv")
print(df)

      Name  Age Gender  Grade  Marks
0    Alice   20      F     10     85
1      Bob   19      M     10     78
2  Charlie   21      M     11     92
3    Diana   20      F     11     88
4    Ethan   22      M     12     76
5    Fiona   19      F     12     95

In [16]:
df = pd.read_csv("Z:\ITSkills\students.csv")
print("\nFirst 3 rows of the DataFrame:")
print(df.head(3))

First 3 rows of the DataFrame:
      Name  Age Gender  Grade  Marks
0    Alice   20      F     10     85
1      Bob   19      M     10     78
2  Charlie   21      M     11     92

In [19]:
df = pd.read_excel("Z:\ITSkills\STUDENT.xlsx")
print(df)

      Name  Age Gender  Grade  Marks
0    Alice   20      F     10     85
1      Bob   19      M     10     78
2  Charlie   21      M     11     92
3    Diana   20      F     11     88
4    Ethan   22      M     12     76
5    Fiona   19      F     12     95

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    6 non-null      object
 1   Age     6 non-null      int64
 2   Gender  6 non-null      object
 3   Grade   6 non-null      int64
 4   Marks   6 non-null      int64
dtypes: int64(3), object(2)
memory usage: 372.0+ bytes

In [21]:
filtered_df = df[df['Marks'] > 80]
print(filtered_df)

      Name  Age Gender  Grade  Marks
0    Alice   20      F     10     85
2  Charlie   21      M     11     92
3    Diana   20      F     11     88
5    Fiona   19      F     12     95

In [23]:
female_students = df[df['Gender'] == 'F']
print(female_students)

    Name  Age Gender  Grade  Marks
0  Alice   20      F     10     85
3  Diana   20      F     11     88
5  Fiona   19      F     12     95

In [24]:
print(df[['Name', 'Marks']])

      Name  Marks
0    Alice     85
1      Bob     78
2  Charlie     92
3    Diana     88
4    Ethan     76
5    Fiona     95

In [25]:
df = df.set_index('Name')
print(df)

         Age Gender  Grade  Marks
Name
Alice     20      F     10     85
Bob       19      M     10     78
Charlie   21      M     11     92
Diana     20      F     11     88
Ethan     22      M     12     76
Fiona     19      F     12     95

In [26]:
sorted_df = df.sort_values(by='Marks', ascending=False)
print(sorted_df)

         Age Gender  Grade  Marks
Name
Fiona     19      F     12     95
Charlie   21      M     11     92
Diana     20      F     11     88
Alice     20      F     10     85
Bob       19      M     10     78
Ethan     22      M     12     76

In [27]:
df['Result'] = df['Marks'].apply(lambda x: 'Pass' if x >= 80 else 'Fail')
print(df)

         Age Gender  Grade  Marks Result
Name
Alice     20      F     10     85   Pass
Bob       19      M     10     78   Fail
Charlie   21      M     11     92   Pass
Diana     20      F     11     88   Pass
Ethan     22      M     12     76   Fail
Fiona     19      F     12     95   Pass

In [28]:
filtered_df = df[(df['Grade'] == 11) & (df['Marks'] > 85)]
print(filtered_df)

         Age Gender  Grade  Marks Result
Name
Charlie   21      M     11     92   Pass
Diana     20      F     11     88   Pass

In [29]:
average_marks = df['Marks'].mean()
print(f"Average Marks: {average_marks}")

Average Marks: 85.66666666666667

In [30]:
counts = df['Gender'].value_counts()
print(counts)

Gender
F    3
M    3
Name: count, dtype: int64

In [31]:
top_students = df[df['Marks'] > 80]
top_students.to_csv('top_students.csv', index=False)
print("Filtered data saved to top_students.csv")

Filtered data saved to top_students.csv

In [32]:
df = df.reset_index()
print(df)

      Name  Age Gender  Grade  Marks Result
0    Alice   20      F     10     85   Pass
1      Bob   19      M     10     78   Fail
2  Charlie   21      M     11     92   Pass
3    Diana   20      F     11     88   Pass
4    Ethan   22      M     12     76   Fail
5    Fiona   19      F     12     95   Pass